body {
	overflow: hidden;
}
.custom-container {
display: flex;
width: 100%;
}
.chat-history-box {
	height: 100vh;
	width: 55%;
	border-right: ridge;
}
.chat-history-box .chat-title {
	text-align: center;
}
.chat-history-box .chat-history-list {
	list-style-type: none;
	padding-left: 10%;
	overflow-y: auto;
	height: 92.2%;
}
.chat-history-box .chat-history-list .chat-address .chat-address-btn {
	width: 100%;
	border: none;
}
.chat-history-box .chat-history-list .chat-address:first-child {
	border-top: groove;
}
.chat-history-box .chat-history-list .chat-address:nth-child(odd) {
	border-bottom: groove;
}
.chat-history-box .chat-history-list .chat-address:nth-child(even) {
	border-bottom: groove;
}
.talk-box {
	height: 100vh;
	width: 100%;
	background-color: #ecefff;
}
.talk-box #talk {
	overflow-x: hidden;
	overflow-y: auto;
	height: 85%;
}