.chat-address-wrap {
    position: absolute;
    width: 80%;
    height: -webkit-fill-available;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-address-wrap .last-msg {
	text-align: center;
	margin: 0%;
}