.select-month-wrap {
	display: flex;
	justify-content: space-between;
}
.calendar-table {
	overflow-x: hidden;
}
.calendar-table thead {
	text-align: center;
	font-size: 22px;
}
.calendar-sunday {
	color: orangered;
 }
.calendar-sattday {
	color: #0000b6;
 }
.calendar-table tbody td {
	height: 125px;
	width: 135px;
}
.schedule-input-group {
	flex-wrap: inherit;
}