<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Calendar</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/common/calendar-content.css}" rel="stylesheet">
<link th:href="@{/css/common/spacing.css}" rel="stylesheet">
<link th:href="@{/css/common/schedule-color.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1 th:text="${year} + '年' + ${month} + '月'" class="text-center m-0"></h1>
		<h5 class="text-center">
			<span class="badge bg-info text-black-50">全体のシフト</span>
		</h5>
		<div class="select-month-wrap">
			<a class="btn btn-success" th:href="'/calendar/all?ym=' + ${beforeYm}"><i class="bi bi-caret-left"></i> 前月</a>
			<a class="btn btn-success" th:href="'/calendar/all?ym=' + ${afterYm}"> 翌月 <i class="bi bi-caret-right"></i></a>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered calendar-table">
				<thead class="table-info">
					<tr>
						<th class="text-center fs-5">シフト</th>
						<th:block th:each="calendar, status: ${calendarList}">
							<th th:if="${calendar != null}" class="text-center">
								<p th:if="${status.count % 7 == 1}" th:text="${calendar}" class="calendar-sunday fs-5 m-0"></p>
								<p th:if="${status.count % 7 == 0}" th:text="${calendar}" class="calendar-sattday fs-5 m-0"></p>
								<p th:if="${status.count % 7 != 1 && status.count % 7 != 0}" th:text="${calendar}" class="fs-5 m-0"></p>
							</th>
						</th:block>
					</tr>
				</thead>
				<tbody class="table-light">
					<tr th:each="scheduleTime, scheduleTimeStatus: ${scheduleTimeList}">
						<td class="height-125 p-0">
							<div th:class="${scheduleTimeHtmlClassBgColorArray[__${scheduleTimeStatus.count - 1}__]} + ' text-center h-100 w-100 p-2'">
								<p th:text="${scheduleTime.name}" class="text-break width-100 mb-2"></p>
								<p th:text="${scheduleTime.startHmsFormatTime} + '～' + ${scheduleTime.endHmsFormatTime}" class="text-break width-100 m-0"></p>
								<p th:text="'(休憩: ' + ${scheduleTime.restHmsFormatTime} + ')'" class="text-break width-100 m-0"></p>
							</div>
						</td>
						<th:block th:each="calendar: ${calendarList}">
							<td th:if="${calendar != null}">
								<p th:utext="${userScheduleAllArray[__${calendar - 1}__][__${scheduleTimeStatus.count - 1}__]}" class="text-break width-80 m-0"></p>
							</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>