<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div class="list-group">
		<br>
		<form th:if="${!userList.isEmpty}" th:action="@{/dm/talk}" method="post">
			<div class="list-group-item list-group-item-secondary">
				<p class="row mb-0">
					<span class="col-2"></span>
					<span class="text-center col-2">ユーザーID</span>
					<span class="text-center col-4">名前</span>
					<span class="text-center col-4">フリガナ</span>
				</p>
			</div>
			<button th:each="user: ${userList}" th:value="${user.id}" name="receiveUser" type="submit" class="list-group-item list-group-item-action">
				<p class="row mb-2">
					<span class="d-flex align-items-center justify-content-center col-2">
						<img th:src="${user.iconFlgFormatHtmlSrc}" class="rounded-circle col-7">
					</span>
					<span th:text="${user.id}" class="text-break d-flex align-items-center justify-content-center col-2"></span>
					<span th:text="${user.name}" class="text-break d-flex align-items-center justify-content-center col-4"></span>
					<span th:text="${user.nameKana}" class="text-break d-flex align-items-center justify-content-center col-4"></span>
				</p>
			</button>
		</form>
		<h5 th:if="${userList.isEmpty}" class="text-center">該当するユーザーはいません</h5>
	</div>
</body>
</html>