<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>DM</title>
<link th:href="@{/css/dm-menue.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/dm-menue.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="custom-container">
		<div class="chat-history-box">
			<h1 class="chat-title">メッセージ</h1>
			<ul class="chat-history-list">
				<li th:each="dmHistry: ${dmHistoryList}" class="chat-address">
					<button th:value="${dmHistry.msgToId}" class="chat-address-btn">
						<p class="chat-icon">〇<span th:text="${dmHistry.msgToName}"></span></p>
						<p th:text="${dmHistry.msg}"></p>
					</button>
				</li>
			</ul>
		</div>
		<div class="talk-box">
			<div id="talk"></div>
			<div class="talk-send-form">
				<textarea></textarea>
			</div>
		</div>
	</div>
</body>
</html>