<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/dm-talk.css}" rel="stylesheet">
</head>
<body>
	<div class="chat-list" th:each="talkHistory: ${talkHistoryList}">
		<div th:class="${talkHistory.sendUser} + ' chat-wrap'">
			<div class="chatting">
				<span th:utext="${talkHistory.getMsgAfterBreakLine}" class="chat-text"></span>
			</div>
			<span th:text="${talkHistory.getMsgDateFormatDate}" class="send-date"></span>
		</div>
	</div>
</body>
</html>