<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>DmTalk</title>
<th:block th:insert="common/import-css"></th:block>
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/dm-talk.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/dm-talk.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="custom-container">
		<div class="d-flex row title-wrap">
			<div class="col-1 back-btn-wrap">
				<a href="/dm" class="btn btn-secondary back-btn" style="border-radius: 50%;">
					<i class="bi bi-arrow-left"></i>
				</a>
			</div>
			<div class="col-11">
			<h1 th:text="${receiveUserName}" class="chat-user-name"></h1>
			</div>
		</div>
		<div class="chatting-wrap">
			<div id="chat-box">
					<div class="chat-list" th:each="talkHistory: ${talkHistoryList}">
						<div th:class="${talkHistory.htmlClassSendUser} + ' chat-wrap'">
							<div class="chatting">
								<span th:utext="${talkHistory.msgFormatAfterBreakLine}" class="chat-text text-break"></span>
							</div>
							<span th:text="${talkHistory.msgDateFormatDate}" class="send-date"></span>
							<span th:if="${talkHistory.readFlgFormatNA}" class="send-date">
								<i class="bi bi-check-circle"></i>
							</span>
						</div>
					</div>
					<br>
				</div>
			<form th:action="@{/dm/talk/send}" th:object="${dmTalkSendForm}" method="post" class="d-flex row g-3 chat-send-form">
				<div class="col-10 form-col-common msg-text-wrap">
					<textarea th:field="*{msg}" id="msg-text" class="form-control form-control-lg" rows="1" maxlength="200" required></textarea>
				</div>
				<div class="col-2 form-col-common">
					<input th:field="*{receiveUser}" type="hidden">
					<button type="submit" id="send-btn" class="btn btn-primary" disabled>
						<i class="bi bi-send"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div th:if="${isModalResult}" th:insert="common/modal-result"></div>
</body>
</html>