<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>DmTalk</title>
<link th:href="@{/css/dm-talk.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/dm-talk.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="custom-container">
		<div class="row">
			<div class="col-1 back-btn-wrap">
				<a href="/dm" class="btn btn-secondary back-btn" style="border-radius: 50%;">
					<i class="bi bi-arrow-left"></i>
				</a>
			</div>
			<div class="col-11">
			<h1 th:text="${receiveUserName}" class="chat-user-name"></h1>
			</div>
		</div>
		<div class="chat-box">
			<div class="chat-list-wrap">
				<div class="chat-list" th:each="talkHistory: ${talkHistoryList}">
					<div th:class="${talkHistory.sendUser} + ' chat-wrap'">
						<div class="chatting">
							<span th:utext="${talkHistory.getMsgAfterBreakLine}" class="chat-text"></span>
						</div>
						<span th:text="${talkHistory.getMsgDateFormatDate}" class="send-date"></span>
					</div>
				</div>
			</div>
			<form action="/dm/talk/send" method="post" class="row g-3 chat-send-form">
				<div class="col-10 form-col-common">
					<textarea class="form-control form-control-lg" name="msg" id="msg-text" rows="1" required></textarea>
				</div>
				<div class="col-2 form-col-common">
					<button th:value="${receiveUser}" type="submit" name="receiveUser" class="btn btn-primary">
						<i class="bi bi-send"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>