<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>DM</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/dm.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1 class="chat-title">メッセージ</h1>
		<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#userModal">連絡先 + </button>
		<div class="chat-address-wrap">
			<div class="list-group">
				<form th:if="${!dmFinalHistoryList.isEmpty}" th:action="@{/dm/talk}" method="post">
					<button th:each="dmFinalHistry: ${dmFinalHistoryList}" th:value="${dmFinalHistry.msgToId}" name="receiveUser" type="submit" class="list-group-item list-group-item-action chat-address-btn">
						<p class="row mb-0">
							<span class="col-2">
								<img th:src="${dmFinalHistry.iconFlgFormatHtmlSrc}" class="rounded-circle col-6"></img>
							</span>
							<span class="row col-10">
								<span th:text="${dmFinalHistry.msgToName}" class="fw-bolder fs-5 col-12"></span>
								<span th:text="${dmFinalHistry.msg}" class="text-center col-12"></span>
							</span>
						</p>
					</button>
				</form>
				<h3 th:if="${dmFinalHistoryList.isEmpty}" class="list-group text-center bg-white p-3">メッセージはありません</h3>
			</div>
		</div>
	</div>
	<!-- 連絡先モーダル -->
	<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">連絡先一覧</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row form-input-wrap">
						<div class="col-10">
							<input type="search" class="col-10 form-control" id="user-address-seach-keyword">
						</div>
						<button type="submit" class="col-2 btn btn-primary" id="user-address-seach-btn">
							<i class="bi bi-search"></i> 検索
						</button>
					</div>
					<div id="user-address-box">
						<br>
						<h5 class="text-center">キーワードを検索すると表示されます</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>