<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/common/hover.css}" rel="stylesheet">
<link th:href="@{/css/common/icon-size.css}" rel="stylesheet">
<link th:href="@{/css/common/spacing.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1 th:text="${userEntity.name} + 'さん'"></h1>
		<div class="col-xs-12 col-lg-6">
			<h3 class="text-center">お知らせ</h3>
			<ul class="list-group">
				 <li th:each="news: ${newsList}" class="list-group-item pointer-white news-list" data-bs-toggle="modal" data-bs-target="#exampleModalLive">
			 		<span th:text="${news.ymdFormatDate}" class="m-1"></span>
			 		<img th:src="${news.categoryFormatPngSrc}" class="icon-45">
					<img th:if="${news.srcPngNewIcon != null}" th:src="${news.srcPngNewIcon}" class="icon-45">
					<span th:text="${news.title}" class="fw-bold fs-5 position-absolute left-40 m-1 news-title"></span>
			 		<input th:value="${news.contentAfterBreakLine}" class="news-content" type="hidden">
				 </li>
				 <li th:if="${newsList.isEmpty}" class="list-group-item">
					<h1>お知らせはありません</h1>
				</li>
			</ul>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-news-title">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 id="modal-news-date">Modal content</h6>
					<p id="modal-news-content">Modal content</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>