<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="parents">
			<div class="card card-container">
				<h3 class="profile-title">ユーザーIDを取得</h3>
				<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<form th:action="@{/login/forgot-id/send}" method="post" class="form-signin">
					<div th:if="${isAlertSuccess}" class="alert alert-success">メールアドレスに送信しました。</div>
					<div th:if="${isAlertFailed}" class="alert alert-danger">入力されたメールアドレスは無効です。</div>
					<span id="reauth-email" class="reauth-email">登録しているメールアドレスを入力してください</span>
					<input type="email" name ="email" id="inputEmail" class="form-control mb-2" placeholder="Email" required autofocus>
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">送信</button>
				</form>
				<a href="#" class="forgot-password"> パスワードをお忘れの方はこちら </a>
			</div>
		</div>
	</div>
</body>
</html>