<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LoginForgot</title>
<th:block th:insert="common/import-css"></th:block>
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="parents">
			<div class="card card-container">
				<h3 class="profile-title">パスワード再設定</h3>
				<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<form th:action="@{/login/forgot-password/reset/auth}" method="post" class="form-signin">
					<div th:if="${isAlertFailed}" class="alert alert-danger">入力された認証コードは無効です。</div>
					<span id="reauth-email" class="reauth-email">認証コードを入力してください</span>
					<input type="text" name ="authCode" id="inputEmail" class="form-control mb-2" placeholder="認証コード" required autofocus>
					<input th:value="${user}" type="hidden" name="user">
					<input th:value="${urlParam}" type="hidden" name="urlParam">
					<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">認証</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>