<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>News-Edit</title>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/news-edit.js}"></script>
<script th:src="@{/js/common/form-needs-validation.js}"></script>
<link th:href="@{/css/news-edit.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<div class="news-edit-wrap">
			<h1 class="title">お知らせ編集</h1>
			<div class="col-12 d-flex justify-content-end align-self-baseline news-add-wrap">
				<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-news-add" data-bs-dismiss="modal">新規追加 + </button>
			</div>
			<div class="col-12 tab-wrap">
				<input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
				<label class="tab-label" for="TAB-01">登録済みのお知らせ</label>
				<div class="tab-content">
					<ul class="list-group news-unordered-list">
						<li th:each="newsRecord: ${newsRecordList}" class="list-group-item news-list" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
					 		<span th:text="${newsRecord.ymdFormatDate}" class="news-date"></span>
					 		<img th:src="${newsRecord.categoryFormatPngSrc}" class="icon-img category-icon" alt="category">
							<img th:if="${newsRecord.srcPngNewIcon != null}" th:src="${newsRecord.srcPngNewIcon}" class="icon-img new-icon" alt="new">
							<span th:text="${newsRecord.title}" class="news-title"></span>
					 		<input th:value="${newsRecord.contentAfterBreakLine}" type="hidden" class="news-content-display">
					 		<input th:value="${newsRecord.ymd}" type="hidden" class="news-ymd">
					 		<input th:value="${newsRecord.title}" type="hidden" class="news-title">
					 		<input th:value="${newsRecord.category}" type="hidden" class="news-category">
					 		<input th:value="${newsRecord.content}" type="hidden" class="news-content">
						</li>
						<li th:if="${newsRecordList.isEmpty}" class="list-group-item">
							<h1>お知らせはありません</h1>
						</li>
					</ul>
				</div>
				<input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
				<label class="tab-label" for="TAB-02">現在表示中のお知らせ</label>
				<div class="tab-content">
					<ul class="list-group news-unordered-list">
						<li th:each="news: ${newsList}" class="list-group-item news-list" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
					 		<span th:text="${news.ymdFormatDate}" class="news-date"></span>
					 		<img th:src="${news.categoryFormatPngSrc}" class="icon-img category-icon" alt="category">
							<img th:if="${news.srcPngNewIcon != null}" th:src="${news.srcPngNewIcon}" class="icon-img new-icon" alt="new">
							<span th:text="${news.title}" class="news-title"></span>
				 			<input th:value="${news.contentAfterBreakLine}" type="hidden" class="news-content-display">
				 			<input th:value="${news.id}" type="hidden" class="news-id">
					 		<input th:value="${news.ymd}" type="hidden" class="news-ymd">
					 		<input th:value="${news.category}" type="hidden" class="news-category">
						</li>
						<li th:if="${newsList.isEmpty}" class="list-group-item">
							<h1>お知らせはありません</h1>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- モーダル -->
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal1-title">Modal 1 Title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 id="modal1-date">Modal 1 Date</h6>
					<p id="modal1-content">Modal 1 Content</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
					<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-news-modify" data-bs-dismiss="modal">編集する</button>
				</div>
			</div>
		</div>
	</div>
	<!-- お知らせ修正モーダル -->
	<div class="modal fade" id="exampleModal-news-modify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">お知らせ編集</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:object="${newsEditForm}" action="/news-edit/modify" method="post" class="row row g-3 needs-validation" novalidate>
						<div class="mb-3">
							<h5 id="modal2-news-date">Modal2 Date</h5>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">タイトル</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<input th:field="*{title}" type="text" name="title" class="form-control" id="modal2-news-title" aria-describedby="inputGroupPrepend" required>
								<div class="invalid-feedback">必須項目です</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">カテゴリー</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<select th:field="*{category}" name="category" class="form-control" id="modal2-news-category" aria-describedby="inputGroupPrepend" required>
									<option th:each="newsCategory, status: ${newsCategoryArray}" th:value="${status.count}" th:text="${newsCategory}"></option>
								</select>
							</div>
							<div class="invalid-feedback">必須項目です</div>
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">内容</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<textarea th:field="*{content}" name="content" class="form-control" id="modal2-news-content" aria-describedby="inputGroupPrepend" rows="5" required></textarea>
								<div class="invalid-feedback">必須項目です</div>
							</div>
						</div>
						<input th:field="*{id}" type="hidden" name="id" id="modal2-news-id">
				 		<input th:field="*{ymd}" type="hidden" name="ymd" id="modal2-news-ymd">
				 		<button type="submit" class="btn btn-primary">修正</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- お知らせ追加モーダル -->
	<div class="modal fade" id="exampleModal-news-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">お知らせ追加</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="/news-edit/add" method="post" class="row row g-3 needs-validation" novalidate>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">タイトル</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<input type="text" name="title" class="form-control" aria-describedby="inputGroupPrepend" required>
								<div class="invalid-feedback">必須項目です</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">公開日</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<input th:min="${newsRecordableMinDate}" th:max="${newsRecordableMaxDate}" type="date" name="date" class="form-control" aria-describedby="inputGroupPrepend" required>
								<div class="invalid-feedback">必須項目です</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">カテゴリー</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<select name="category" class="form-control" aria-describedby="inputGroupPrepend" required>
									<option th:each="newsCategory, status: ${newsCategoryArray}" th:value="${status.count}" th:text="${newsCategory}"></option>
								</select>
							</div>
							<div class="invalid-feedback">必須項目です</div>
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">内容</label>
							<span class="badge rounded-pill bg-danger">必須</span>
							<div class="input-group has-validation">
								<textarea name="content" class="form-control" aria-describedby="inputGroupPrepend" rows="5" required></textarea>
								<div class="invalid-feedback">必須項目です</div>
							</div>
						</div>
				 		<button type="submit" class="btn btn-primary">追加</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${isModalResult}" th:insert="common/modal-result"></div>
</body>
</html>