<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>NewsEdit</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/news-edit.css}" rel="stylesheet">
<link th:href="@{/css/common/hover.css}" rel="stylesheet">
<link th:href="@{/css/common/icon-size.css}" rel="stylesheet">
<link th:href="@{/css/common/spacing.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/news-edit.js}"></script>
<script th:src="@{/js/common/form-needs-validation.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<div class="news-edit-wrap">
			<h1 class="title">お知らせ編集</h1>
			<div class="col-12 d-flex justify-content-end align-self-baseline news-add-wrap">
				<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-news-add" data-bs-dismiss="modal">新規追加 + </button>
			</div>
			<div class="col-12 tab-wrap">
				<input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" />
				<label class="tab-label" for="TAB-01">登録済みのお知らせ</label>
				<div class="tab-content">
					<ul class="list-group">
						<li th:each="newsRecord: ${newsRecordList}" class="list-group-item pointer-white news-list" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
					 		<span th:text="${newsRecord.ymdFormatDate}" class="fs-5 mx-4"></span>
					 		<img th:src="${newsRecord.categoryFormatPngSrc}" class="icon-45">
							<img th:if="${newsRecord.srcPngNewIcon != null}" th:src="${newsRecord.srcPngNewIcon}" class="icon-45">
							<span th:text="${newsRecord.title}" class="fw-bold fs-5 position-absolute left-40 m-1 news-title"></span>
					 		<input th:value="${newsRecord.contentAfterBreakLine}" type="hidden" class="news-content-display">
					 		<input th:value="${newsRecord.id}" type="hidden" class="news-id">
					 		<input th:value="${newsRecord.ymd}" type="hidden" class="news-ymd">
					 		<input th:value="${newsRecord.title}" type="hidden" class="news-title">
					 		<input th:value="${newsRecord.category}" type="hidden" class="news-category">
					 		<input th:value="${newsRecord.content}" type="hidden" class="news-content">
						</li>
						<li th:if="${newsRecordList.isEmpty}" class="list-group-item">
							<h3 class="text-center">お知らせはありません</h3>
						</li>
					</ul>
				</div>
				<input id="TAB-02" type="radio" name="TAB" class="tab-switch" />
				<label class="tab-label" for="TAB-02">現在表示中のお知らせ</label>
				<div class="tab-content">
					<ul class="list-group">
						<li th:each="news: ${newsList}" class="list-group-item pointer-white news-list" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
					 		<span th:text="${news.ymdFormatDate}" class="fs-5 mx-4"></span>
					 		<img th:src="${news.categoryFormatPngSrc}" class="icon-45">
							<img th:if="${news.srcPngNewIcon != null}" th:src="${news.srcPngNewIcon}" class="icon-45">
							<span th:text="${news.title}" class="fw-bold fs-5 position-absolute left-40 m-1 news-title"></span>
				 			<input th:value="${news.contentAfterBreakLine}" type="hidden" class="news-content-display">
				 			<input th:value="${news.id}" type="hidden" class="news-id">
					 		<input th:value="${news.ymd}" type="hidden" class="news-ymd">
					 		<input th:value="${news.category}" type="hidden" class="news-category">
						</li>
						<li th:if="${newsList.isEmpty}" class="list-group-item">
							<h3 class="text-center">お知らせはありません</h3>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 確認モーダル -->
	<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal1-title">Modal 1 Title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h6 id="modal1-date">Modal 1 Date</h6>
					<p id="modal1-content">Modal 1 Content</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
					<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-news-modify" data-bs-dismiss="modal">編集する</button>
				</div>
			</div>
		</div>
	</div>
	<!-- お知らせ修正モーダル -->
	<div class="modal fade" id="exampleModal-news-modify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">お知らせ編集</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:object="${newsEditModifyForm}" th:action="@{/news-edit/modify}" method="post" class="row row g-3 needs-validation" aria-describedby="inputGroupModify" novalidate>
						<div class="mb-3">
							<h5 id="modal2-news-date">Modal2 Date</h5>
						</div>
						<div class="mb-3">
							<label class="col-form-label">
								タイトル
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<input th:field="*{title}" th:errorclass="is-invalid" type="text" name="title" class="form-control" id="modal2-news-title" aria-describedby="inputGroupModify" maxlength="20" required>
								<div th:errors="*{title}" class="invalid-feedback"></div>
							</div>
						</div>
						<div class="mb-3">
							<label class="col-form-label">
								カテゴリー
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<select th:field="*{category}" th:errorclass="is-invalid" name="category" class="form-control" id="modal2-news-category" aria-describedby="inputGroupModify" required>
									<option th:each="newsCategory, status: ${newsCategoryArray}" th:value="${status.count}" th:text="${newsCategory}"></option>
								</select>
							</div>
							<div th:errors="*{category}" class="invalid-feedback"></div>
						</div>
						<div class="mb-3">
							<label class="col-form-label">
								内容
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<textarea th:field="*{content}" th:errorclass="is-invalid" name="content" class="form-control" id="modal2-news-content" aria-describedby="inputGroupModify" rows="5" maxlength="200" required></textarea>
								<div th:errors="*{content}" class="invalid-feedback"></div>
							</div>
						</div>
						<input th:field="*{id}" th:errorclass="is-invalid" type="hidden" id="modal2-news-id">
				 		<input th:field="*{ymd}" th:errorclass="is-invalid" type="hidden" id="modal2-news-ymd">
				 		<span th:errors="*{id}" class="text-danger"></span>
				 		<span th:errors="*{ymd}" class="text-danger"></span>
				 		<button type="submit" class="btn btn-primary">修正</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- お知らせ追加モーダル -->
	<div class="modal fade" id="exampleModal-news-add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">お知らせ追加</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form th:action="@{/news-edit/add}" th:object="${newsEditAddForm}" method="post" class="row row g-3 needs-validation" aria-describedby="inputGroupAdd" novalidate>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">
								タイトル
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<input th:field="*{title}" th:errorclass="is-invalid" type="text" class="form-control" aria-describedby="inputGroupAdd" maxlength="20" required>
								<div th:errors="*{title}" class="invalid-feedback"></div>
							</div>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">
								公開日
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<input th:field="*{date}" th:errorclass="is-invalid" th:min="${newsRecordableMinDate}" th:max="${newsRecordableMaxDate}" type="date" class="form-control" aria-describedby="inputGroupAdd" required>
								<div th:errors="*{date}" class="invalid-feedback"></div>
							</div>
						</div>
						<div class="mb-3">
							<label for="recipient-name" class="col-form-label">
								カテゴリー
								<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<select th:field="*{category}" th:errorclass="is-invalid" class="form-control" aria-describedby="inputGroupAdd" required>
									<option th:each="newsCategory, status: ${newsCategoryArray}" th:value="${status.count}" th:text="${newsCategory}"></option>
								</select>
							</div>
							<div th:errors="*{category}" class="invalid-feedback"></div>
						</div>
						<div class="mb-3">
							<label for="message-text" class="col-form-label">
								内容<span class="badge rounded-pill bg-danger">必須</span>
							</label>
							<div class="input-group has-validation">
								<textarea th:field="*{content}" th:errorclass="is-invalid" class="form-control" rows="5" maxlength="200" aria-describedby="inputGroupAdd" required></textarea>
								<div th:errors="*{content}" class="invalid-feedback"></div>
							</div>
						</div>
				 		<button type="submit" class="btn btn-primary">追加</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${isModalResult}" th:insert="common/modal-result"></div>
</body>
</html>