<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ScheduleDecisionModify</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/common/schedule-color.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<div class="position-absolute w-75 h-50 schedule-wrap">
			<h2 class="text-center">提出されたシフト</h2>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#scheduleTimeModal">シフト詳細</button>
			</div>
			<div class="table-responsive position-absolute w-100 h-75">
				<table class="table table-bordered">
					<thead class="table-info text-center">
						<tr>
							<th>ユーザー</th>
							<th th:each="scheduleTime, status: ${scheduleTimeList}" th:text="${scheduleTime.name}" th:class="${scheduleTimeHtmlClassColorArray[__${status.count - 1}__]} + ' border'"></th>
						</tr>
					</thead>
					<tbody class="table-light text-center">
						<tr th:each="scheduleUser: ${scheduleUserList}">
							<td th:text="${scheduleUser.user}"></td>
							<td th:each="scheduleTime, status: ${scheduleTimeList}">
								<i th:if="${scheduleUser.scheduleFormatIsRecordedArray[__${status.count - 1}__]}" class="bi bi-circle"></i>
								<i th:if="${!scheduleUser.scheduleFormatIsRecordedArray[__${status.count - 1}__]}" class="bi bi-x-lg"></i>
							</td>
						</tr>
						<tr th:if="${scheduleUserList.isEmpty}">
							<td colspan="4">この月に提出したユーザーはいません</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="position-absolute w-75 h-50 top-50 form-wrap ">
			<form action="">
				<h2 class="text-center">シフトを登録</h2>
				<div class="table-responsive position-absolute w-100 h-75">
					<table class="table table-bordered">
						<thead class="table-info text-center">
							<tr>
								<th>ユーザー</th>
								<th th:each="scheduleTime, status: ${scheduleTimeList}" th:text="${scheduleTime.name}" th:class="${scheduleTimeHtmlClassColorArray[__${status.count - 1}__]} + ' border'"></th>
							</tr>
						</thead>
						<tbody class="table-light text-center">
							<tr th:each="scheduleUser: ${scheduleUserList}">
								<td th:text="${scheduleUser.user}"></td>
								<td th:each="scheduleTime, status: ${scheduleTimeList}">
									<i th:if="${scheduleUser.scheduleFormatIsRecordedArray[__${status.count - 1}__]}" class="bi bi-circle"></i>
									<i th:if="${!scheduleUser.scheduleFormatIsRecordedArray[__${status.count - 1}__]}" class="bi bi-x-lg"></i>
								</td>
							</tr>
							<tr th:if="${scheduleUserList.isEmpty}">
								<td colspan="4">登録済みのユーザーはいません</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="position-absolute end-0 bottom-0">
					<button type="button" class="btn btn-primary">シフトに追加</button>
				</div>
			</form>
		</div>
	</div>
	<!-- スケジュール時間詳細モーダル -->
	<div class="modal fade" id="scheduleTimeModal" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-news-title">シフト時間</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<ul class="list-group">
						<li class="list-group-item list-group-item-dark">
							<p class="row m-0">
								<span class="col-5">名前</span>
								<span class="col-5">勤務時間</span>
								<span class="col-2">休憩</span>
							</p>
						</li>
						<li th:each="scheduleTime, status: ${scheduleTimeList}" th:class="${scheduleTimeHtmlClassBgColorArray[__${status.count - 1}__]} + ' list-group-item'">
							<p class="row m-0">
								<span th:text="${scheduleTime.name}" class="col-5"></span>
								<span th:text="${scheduleTime.startHmsFormatTime} + '～' + ${scheduleTime.endHmsFormatTime}" class="col-5"></span>
								<span th:text="${scheduleTime.restHmsFormatTime}" class="col-2"></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>