<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<link th:href="@{/css/common/spacing.css}" rel="stylesheet">
</head>
<body>
	<table class="table table-bordered m-0">
		<tbody class="table-light">

			<tr>
			<td th:text="${year} + '年' + ${month} + '月'" class="width-60 search-td1"></td>
			<td th:each="scheduleWorkCountMonth: ${scheduleWorkCountMonthList}" th:text="${scheduleWorkCountMonth.workCount}" class="width-60 search-td2"></td>
			<td th:if="${scheduleWorkCountMonthList.isEmpty}" class="search-td2">登録されたシフトはありません</td>
		</tr>
		</tbody>
	</table>
</body>
</html>