<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Schedule</title>
<link th:href="@{/css/schedule.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<div class="calendar-wrap">
			<h1 th:text="${year} + '年' + ${month} + '月'" class="text-center m-0"></h1>
			<div class="select-month-wrap">
				<a class="btn btn-success" th:href="'/schedule?ym=' + ${beforeYm}"><i class="bi bi-caret-left"></i> 前月</a>
				<a class="btn btn-success" th:href="'/schedule?ym=' + ${afterYm}"> 翌月 <i class="bi bi-caret-right"></i></a>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered calendar-table">
					<thead class="table-info">
						<tr>
							<th class="calendar-sunday">日</th>
							<th>月</th>
							<th>火</th>
							<th>水</th>
							<th>木</th>
							<th>金</th>
							<th class="calendar-sattday">土</th>
						</tr>
					</thead>
					<tbody class="table-light">
						<th:block th:each="calendar, status: ${calendarList}">
							<th:block th:if="${status.count % 7 == 1}">
								<tr>
							</th:block>
							<td>
								<div th:if="${calendar.day != null}" class="h-100" data-bs-toggle="modal" data-bs-target="#shift-time-modal">
									<p th:text="${calendar.day}" th:class="${calendar.htmlClass}"></p>
									<p th:text="${calendar.schedule}"></p>
								</div>
							</td>
							<th:block th:if="${status.count % 7 == 0}">
								</tr>
							</th:block>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- シフトモーダル -->
	<div class="modal fade" id="shift-time-modal" tabindex="-1" aria-labelledby="exampleModalLiveLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">シフト</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="list-group">
						<button th:each="scheduleTime: ${scheduleTimeList}" type="button" class="list-group-item list-group-item-action">
							<p class="row mb-2">
								<span th:text="${scheduleTime.name}" class="col"></span>
								<span th:text="${scheduleTime.startHms} + ' - ' + ${scheduleTime.endHms}" class="col-5"></span>
								<span th:text="'休憩: ' + ${scheduleTime.restHms}" class="col"></span>
							</p>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>