<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>UserDownload</title>
<th:block th:insert="common/import-css"></th:block>
<link th:href="@{/css/header.css}" rel="stylesheet">
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-10">
				<div class="alert alert-success text-center" role="aler">Excel出力</div>
				<a th:href="'/schedule-decision/download/DL_shift_' + ${ym} + '.xlsx'" th:text="${year} + '年' + ${month} + '月の確定シフト shift_' + ${ym} + '.xlsx'"></a>
			</div>
		</div>
	</div>
</body>
</html>