<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ShiftEdit</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/shift-edit.css}" rel="stylesheet">
<link th:href="@{/css/common/schedule-color.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/shift-edit.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h2>現在の勤務時間</h2>
		<ul class="list-group">
			<li class="list-group-item list-group-item-dark">
				<h5 class="row m-0">
					<span class="col-5">名前</span>
					<span class="col-5">勤務時間</span>
					<span class="col-2">休憩</span>
				</h5>
			</li>
			<li th:each="scheduleTime, status: ${scheduleTimeEntity.scheduleTimeFormatList}" th:class="${scheduleTimeHtmlClassBgColorArray[__${status.count - 1}__]} + ' list-group-item'">
				<h5 class="row m-0">
					<span th:text="${scheduleTime.name}" class="col-5"></span>
					<span th:text="${scheduleTime.startHmsFormatTime} + '～' + ${scheduleTime.endHmsFormatTime}" class="col-5"></span>
					<span th:text="${scheduleTime.restHmsFormatTime}" class="col-2"></span>
				</h5>
			</li>
			<li th:if="${scheduleTimeEntity.scheduleTimeFormatList.isEmpty}" class="list-group-item">登録済みの勤務時間はありません</li>
		</ul>
		<br>
		<h2>勤務時間の変更</h2>
		<form th:action="@{/shift-edit/add}" th:object="${shiftEditAddForm}" method="post" class="row g-3">
			<div class="col-2">
				<label for="inputAddress" class="form-label">変更適用年月</label>
				<input th:field="*{startYm}" type="month" class="form-control" required>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-5">
						<label for="inputAddress" class="form-label">名前</label>
						<input th:field="*{name1}" type="text" class="form-control" required>
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">始業時間</label>
						<input th:field="*{startHm1}" type="time" class="form-control" required>
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm1}" type="time" class="form-control" required>
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">休憩時間</label>
						<input th:field="*{restHm1}" type="time" class="form-control" required>
					</div>
				</div>
			</div>
			<div id="input-form2" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input th:field="*{name2}" type="text" class="input2 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm2}" type="time" class="input2 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm2}" type="time" class="input2 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm2}" type="time" class="input2 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<div id="input-form3" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input th:field="*{name3}" type="text" class="input3 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm3}" type="time" class="input3 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm3}" type="time" class="input3 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm3}" type="time" class="input3 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<div id="input-form4" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input th:field="*{name4}" type="text" class="input4 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm4}" type="time" class="input4 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm4}" type="time" class="input4 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm4}" type="time" class="input4 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<div id="input-form5" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input  th:field="*{name5}" type="text" class="input5 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm5}" type="time" class="input5 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm5}" type="time" class="input5 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm5}" type="time" class="input5 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<div id="input-form6" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input th:field="*{name6}" type="text" class="input6 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm6}" type="time" class="input6 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm6}" type="time" class="input6 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm6}" type="time" class="input6 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<div id="input-form7" class="col-12 defoult-none-input-form">
				<div class="row">
					<div class="col-5">
						<label class="form-label">名前</label>
						<input th:field="*{name7}" type="text" class="input7 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">始業時間</label>
						<input th:field="*{startHm7}" type="time" class="input7 form-control">
					</div>
					<div class="col-2">
						<label for="inputAddress" class="form-label">終業時間</label>
						<input th:field="*{endHm7}" type="time" class="input7 form-control">
					</div>
					<div class="col-2">
						<label class="form-label">休憩時間</label>
						<input th:field="*{restHm7}" type="time" class="input7 form-control">
					</div>
					<div class="col-1 position-relative">
						<label for="delete-input-btn" class="form-label text-danger fs-5 position-absolute top-50 p-1">
							<i class="bi bi-dash-circle"></i>
						</label>
					</div>
				</div>
			</div>
			<h3 class="text-center">
				<label for="add-input-btn" id="add-input-label">
					<i class="bi bi-plus-circle"></i>
				</label>
				<button type="button" id="add-input-btn" class="d-none"></button>
			</h3>
			<button type="button" id="delete-input-btn" class="d-none"></button>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<button type="submit" class="btn btn-primary">修正</button>
			</div>
		</form>
	</div>
	<div th:if="${isModalResult}" th:insert="common/modal-result"></div>
</body>
</html>