<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/user-modify.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1>ユーザー修正</h1>
		<form th:object="${userModifyForm}" action="/user/modify/modify" method="post" class="row g-3 needs-validation" novalidate>
			<div class="col-7">
				<label for="validationCustomId" class="form-label">ID</label>
				<div class="input-group has-validation">
					<input th:field="*{userId}" type="text" name="userId" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" readonly>
				</div>
			</div>
			<div class="col-7">
				<label for="validationCustomUsername" class="form-label">名前</label>
				<span class="badge rounded-pill bg-danger">必須</span>
				<div class="input-group has-validation">
					<input th:field="*{name}" type="text" name="name" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
					<div class="invalid-feedback">必須項目です</div>
				</div>
			</div>
			<div class="col-7">
				<label for="validationCustom03" class="form-label">フリガナ</label>
				<span class="badge rounded-pill bg-danger">必須</span>
				<input th:field="*{nameKana}" type="text" name="nameKana" class="form-control" id="validationCustom03" required>
				<div class="invalid-feedback">必須項目です</div>
			</div>
			<div class="col-2">
				<label for="validationCustom04" class="form-label">性別</label>
				<span class="badge rounded-pill bg-danger">必須</span>
				<select th:field="*{gender}" name="gender" class="form-select" id="validationCustom04" required>
					<th:block th:each="genderAll, status: ${genderAllArray}">
						<option th:text="${genderAll}" th:value="${status.count}" th:selected="${status.count == gender}"></option>
					</th:block>
				</select>
				<div class="invalid-feedback">必須項目です</div>
			</div>
			<div class="col-12">
				<label for="validationCustom05" class="form-label">メモ</label>
				<textarea th:field="*{note}" name="note" class="form-control" id="validationCustom05"></textarea>
			</div>
			<div class="col-10">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
					<label class="form-check-label" for="invalidCheck">修正する</label>
					<div class="invalid-feedback">チェックボックスが未入力です</div>
				</div>
			</div>
			<div class="col-12">
				<button class="btn btn-primary" type="submit">修正</button>
			</div>
		</form>
	</div>
	<div th:if="${isModalResult}" th:insert="common/modal-result"></div>
</body>
</html>