<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<p class="text-center mt-4">
			<img th:src="${userEntity.iconKbnFormatHtmlSrc}" class="rounded-circle">
		</p>
		<p th:if="${userEntity.isDelFlg}" class="text-center">
			<span class="badge bg-warning fs-6">退職済み</span>
		</p>
		<h1 class="text-center fw-bold">
			<span th:text="${userEntity.name}"></span>
			<a th:if="${isUserModifyForm}" href="/user/modify" class="btn btn-outline-primary me-5">変更</a>
		</h1>
		<p th:text="${userEntity.nameKana}" class="text-center fw-bold"></p>
		<h5 class="text-center mt-2 mb-4">
			<span class="badge bg-secondary">ID: </span>
			<span th:text="${userEntity.id}" class="text-black-50 fs-4"></span>
		</h5>
		<h6 th:utext="${userEntity.noteFormatAfterBreakLine}" class="text-center text-dark position-absolute w-75 h-25 overflow-auto pt-1" style="background-color: #efefef"></h6>
	</div>
</body>
</html>