<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1>ユーザー一覧</h1>
		<div class="row top-wrap">
		<div class="col-6 index-wrap">
			<form th:if="${isPaginationIndex}" class="row" action="/user" method="get">
				<div class="col-10 form-input-wrap">
					<input th:value="${keyword}" name="keyword" class="col-10 form-control" type="search">
				</div>
				<button type="submit" class="col-2 btn btn-primary">
					<i class="bi bi-search"></i> 検索
				</button>
				<p th:text="'検索結果:' + ${searchHitCount} + '件'"></p>
			</form>
		</div>
		<div class="col-6 d-flex justify-content-end align-self-baseline user-add-wrap">
			<a href="/user/add" class="btn btn-outline-primary" role="button">新規追加 + </a>
		</div>
		</div>
		<div th:if="${!userList.isEmpty}" class="col-12 table-wrap">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ユーザーID</th>
						<th>名前</th>
						<th>フリガナ</th>
						<th>性別</th>
						<th>更新</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${userList}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.name}"></td>
						<td th:text="${user.nameKana}"></td>
						<td th:text="${user.genderFormatMF}"></td>
						<td>
							<form action="/user/modify" method="post">
								<button th:value="${user.id}" type="submit" name="userId" class="btn btn-outline-primary">更新</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
			<nav th:if="${isPaginationIndex}" aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a th:href="'/user?keyword=' + ${keyword} + '&p=' + ${beforePage}" class="page-link" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:each="pagination: ${paginationList}" class="page-item">
						<a th:text="${pagination}" th:href="'/user?keyword=' + ${keyword} + '&p=' + ${pagination}" class="page-link"></a>
					</li>
					<li class="page-item">
						<a th:href="'/user?keyword=' + ${keyword} + '&p=' + ${afterPage}" class="page-link" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>