<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link th:href="@{/css/header.css}" rel="stylesheet">
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/common/form-needs-validation.js}"></script>
</head>
<body>
	<div th:insert="common/header"></div>
	<div class="container">
		<h1>ユーザー</h1>
		<div class="col-7">
			<label for="validationCustomId" class="form-label">ID</label>
			<div class="input-group has-validation">
				<input th:value="${userEntity.id}" type="text" class="form-control" aria-describedby="inputGroupPrepend" readonly>
			</div>
		</div>
		<div class="col-7">
			<label for="validationCustomUsername" class="form-label">名前</label>
			<div class="input-group has-validation">
				<input th:value="${userEntity.name}" type="text" class="form-control" aria-describedby="inputGroupPrepend" readonly>
			</div>
		</div>
		<div class="col-7">
			<label for="validationCustom03" class="form-label">フリガナ</label>
			<input th:value="${userEntity.nameKana}" type="text" class="form-control" readonly>
		</div>
		<div class="col-2">
			<label for="validationCustom04" class="form-label">性別</label>
			<select th:value="${userEntity.gender}" class="form-select" disabled>
				<option th:each="genderAll, status: ${genderAllArray}" th:text="${genderAll}" th:value="${status.count}"></option>
			</select>
		</div>
		<div class="col-12">
			<label for="validationCustom05" class="form-label">メモ</label>
			<textarea th:text="${userEntity.note}" class="form-control" rows="7" readonly></textarea>
		</div>
	</div>
</body>
</html>